.Header {
    height: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 1%, rgba(47,0,215,1) 100%);
    min-height: 100%;
    width: 100%;
}

.TelaInicial-transacoes {
    height: auto;
    min-height:98.4vh;
    margin-bottom: 1%;
    width: 100%;
}

.centro-imagem {
    display: block;
    text-align: left;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 28%;
    float: left;
}

.box-dados-conta {
    text-align: right;
    height: 70px;
    padding: 5px;
    width: 20%;
    align-content: center;
    float: right;
    margin-right: 1%;
    border: none;
    background-color: rgb(0, 42, 167);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.539) 0px 2px 4px;
}

.dados-conta{
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-size: 0.9vw;
    font-family: "Lexend";
    word-spacing: 4px;
    margin: 4px;
}

.janela-acoes-transacoes{
    height: 86%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container-botoes-saldo-transacoes{
    background-color: rgb(0, 42, 167);
    display: flex;
    border-radius: 8px;
    width: 98%;
    min-height: 600px;
    box-shadow: rgba(0, 0, 0, 0.539) 0px 2px 4px;
}

.voltar {
    width: 24%;
    height: 580px;
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.registros {
    width: 75%;
    margin-top: 2%;
    min-height: 500px;
}

.bottom {
    height: 22%;
    width: 100%;
    text-align: center;
}

.botao-voltar-transacoes {
    width: 180px;
    height: 100px;
    display: flex;
    border-radius: 8px;
    font-family: "Lexend";
    font-size: 2.8vw;
    color: white;
    border: none;
    background-color: #7070ff;
    transition: .35s;
    font-style:normal;
}

.botao-voltar-transacoes:hover {
    background-color: #ff7c94;
    cursor: pointer;
    border-color: #ffacac;
    transform: scale(1.05);
}

.botoes-banco:hover {
    background-color: #ff7c94;
    cursor: pointer;
    border-color: #ffacac;
    transform: scale(1.01);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgba(0, 0, 0, 0.539) 0px 2px 4px;
}