
body {
    background-color: #1c14a4;
    height: 100%;
    width: 100%;
}

.TelaDaConta{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 1%, rgba(47,0,215,1) 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-container{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;

}

.centro-imagem-login {
    width: 50%;
    margin-bottom: 2%;
}

.janela-input{
    background-color: rgb(0, 42, 167);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    gap: 40px;
    width: 50%;
    height: 80%;
    box-shadow: rgba(0, 0, 0, 0.539) 0px 2px 4px;
}

.instrucoes{
    font-family: "Lexend";
    font-size: 28px;
    margin-top: 4%;
    color: white;
}

.input-box {
    width: 92%;
    height: 50px;
    padding-left: 12px;
    color: white;
    font-size: 22px;
    border-radius: 8px;
    border: none;
    background-color: #7070ff;
    outline: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgba(0, 0, 0, 0.539) 0px 2px 4px;
}

.botao-login{
    margin-bottom: 10%;
    width: 100px;
    height: 60px;
    border-radius: 8px;
    font-family: "Lexend";
    font-size: 20px;
    color: white;
    border: none;
    background-color: #7070ff;
    transition: .35s;
    font-style:normal;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgba(0, 0, 0, 0.539) 0px 2px 4px; ;
}

.botao-login:hover {
    background-color: #ff7c94;
    cursor: pointer;
    border-color: #ffacac;
    transform: scale(1.01);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgba(0, 0, 0, 0.539) 0px 2px 4px;;
}