
.Header {
    height: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
}

body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 34%, rgba(47,0,215,1) 94%);
    height: 100%;
    width: 100%;
}

.TelaInicial {
    height: 100vh;
    width: 100%;
}

.centro-imagem {
    display: block;
    text-align: left;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 28%;
    float: left;
}

.box-dados-conta {
    text-align: right;
    height: 70px;
    padding: 5px;
    width: 20%;
    float: right;
    margin-right: 1%;
    border: none;
    background-color: #1D1DFF;
    border-radius: 8px;
}

.dados-conta{
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-size: 16px;
    font-family: "Lexend";
    word-spacing: 4px;
    margin: 4px;
}

.container-botoes-saldo{
    background-color: rgb(193, 229, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.box-saldo {
    display: flex;
    height: 12%;
    width: 60%;
    align-items: center;
    background-color: #1D1DFF;
    border: none;
    border-radius: 8px;
    margin-top: 1%;
    margin-bottom: 2%;
}

.oq-fazer {
    margin-left: 2%;
    font-family: "Lexend";
    color: white;
    width: 50%;
    text-align: left;
    font-size: 22px;

}

.saldo-box {
    background-color: #68b9ff;
    width: 50%;
    height: 80%;
    margin: 1%;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.saldo{
    color: white;
    margin-left: 2%;
    font-family: "Lexend";
    text-align: left;
}

.box-acoes{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}

.botoes-banco{
    width: 20%;
    height: 100%;
    margin-right: 4%;
    margin-left: 4%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 36px;

    font-family: "Lexend";
    font-size: 30px;
    color: white;
    border-radius: 8px;
    border-width: 20px;
    border-color: #5252FF;
    border-style: solid;
    background-color: #1D1DFF;
    transition: .35s;
}

.bottom {
    height: 22%;
    width: 100%;
    text-align: center;
}

.botao-voltar {
    width: 10%;
    height: 36%;
    border-radius: 8px;
    font-family: "Lexend";
    font-size: 20px;
    color: white;
    border-style: solid;
    border-width: 4px;
    border-color: #5252FF;
    background-color: #1D1DFF;
    transition: .35s;
    font-style:normal;
    margin: 2%;
}

.botao-voltar:hover {
    background-color: #ff7c94;
    cursor: pointer;
    border-color: #ffacac;
    transform: scale(1.05);
}

.botoes-banco:hover {
    background-color: #ff7c94;
    cursor: pointer;
    border-color: #ffacac;
    transform: scale(1.05);
}