
body {
    background-color: #1c14a4;
    height: 100%;
    width: 100%;
}

.TelaDaConta{
    background: rgb(2,0,36);
    background: linear-gradient(354deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 54%, rgba(47,0,215,1) 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-container{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;

}

.centro-imagem-login {
    width: 50%;
    margin-bottom: 2%;
}

.input-box {
    width: 80%;
    height: 50px;
    font-size: 28px;
    border-radius: 8px;
    border: none;
    background-color: #d7d5fe;
}

.botao-login{
    width: 100px;
    height: 60px;
    border-radius: 8px;
    font-family: "Lexend";
    font-size: 20px;
    color: #a09de6;
    border-style: solid;
    border-width: 4px;
    border-color: #a09de6;
    background-color: #d7d5fe;
    transition: .35s;
    font-style:normal;
}

button:hover {
    background-color: #a09de6;
    cursor: pointer;
    border-color: #d7d5fe;
    color: #d7d5fe;
    transform: scale(1.05);
}