:root {
    background-color: #1c14a4;
}

.centro-imagem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 50%;
    margin-bottom: 5%;
}

.centered-container{
    text-align: center;
    margin-top: 50px;
}
.input-box {
    width: 80%;
    height: 50px;
    padding: auto;
    font-size: 28px;
    border-radius: 8px;
    border: none;
    background-color: #d7d5fe;
}

button{
    margin-top: 40px;
    width: 100px;
    height: 60px;
    border-radius: 8px;
    border: none;
    background-color: #d7d5fe;
    transition: .35s;
}

button:hover {
    background-color: #928dfc;
    cursor: pointer;
}
