:root {
    background-color: #1c14a4;
}

.centro-imagem-login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 55%;
    margin-bottom: 1%;
}

.centered-container{
    text-align: center;
    margin-top: 10%;

}
.input-box {
    width: 80%;
    height: 50px;
    padding: auto;
    font-size: 28px;
    border-radius: 8px;
    border: none;
    background-color: #d7d5fe;
}

.botao-login{
    margin-top: 40px;
    width: 100px;
    height: 60px;
    border-radius: 8px;
    font-family: "Lexend";
    font-size: 22px;
    color: #a09de6;
    border-style: solid;
    border-width: 6px;
    border-color: #a09de6;
    background-color: #d7d5fe;
    transition: .35s;
    font-style:normal;
    
}

button:hover {
    background-color: #a09de6;
    cursor: pointer;
    border-color: #d7d5fe;
    color: #d7d5fe;
    transform: scale(1.05);
}