:root{
    height: 100%
}


.Header {
    height: 120px;
}

.centro-imagem {
    display: block;
    text-align: left;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 28%;
    float: left;
}

.box-dados-conta {
    text-align: right;
    height: 70px;
    padding: 5px;
    width: 160px;
    float: right;
    margin-right: 2%;
    justify-items: center;
    margin-top: 1%;
    border: none;
    background-color: #d7d5fe;
    border-radius: 8px;
}

.dados-conta{
    text-align: left;
    color: #a09de6;
    font-size: 16px;
    font-family: "Lexend";
    word-spacing: 4px;
    margin: 4px;
}

.container-botoes-saldo{
    background-color: white;
    text-align: center;
    display: grid;
    place-items: center;
    width: 100%;
    height: 80%;
}

.box-saldo {
    display: flex;
    height: 80px;
    width: 840px;
    align-items: center;
    background-color: #d7d5fe;
    border: none;
    border-radius: 8px;
}

.oq-fazer {
    margin-left: 2%;
    font-family: "Lexend";
    color: #a09de6;
    width: 50%;
    text-align: left;
    font-size: 22px;

}

.saldo-box {
    background-color: #a09de6;
    width: 50%;
    margin: 1%;
    border-radius: 8px;
}

.saldo{
    color: #d7d5fe;
    margin-left: 2%;
    font-family: "Lexend";
    text-align: left;
}

.box-acoes{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.botoes-banco{
    width: 20%;
    height: 460px;
    margin: 2%;
    margin-right: 4%;
    margin-left: 4%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 36px;

    font-size: 28;
    font-family: "Lexend";
    font-size: 30px;
    color: #a09de6;
    border-radius: 8px;
    border-width: 20px;
    border-color: #a09de6;
    border-style: solid;
    background-color: #d7d5fe;
    transition: .35s;
}

.input-box-saldo{
    text-align: center;
    width: 30%;
    margin-top: 0.2%;
    height: 50px;
    font-size: 28px;
    border-radius: 8px;
    border: none;
    background-color: #d7d5fe;
}
